/*

This file contains all mixins for project.

*/

//flex box mixin w/default args
@mixin flexBox($flex-flow: false, $justify-content: false, $align-items: false, $align-content: false){

    display: flex;
    
    @if $flex-flow{
        flex-flow: $flex-flow ;
    }@else{
        flex-flow: row nowrap;
    }

    @if $justify-content{
        justify-content: $justify-content;
    }@else{
        justify-content: flex-start;
    }

    @if $align-items{
        align-items: $align-items;
    }@else{
        $align-items: stretch;
    }

    @if $align-content{
        align-content: $align-content;
    }@else{
        $align-content: normal;
    }
}

