@use '../abstracts/' as *;
//Navigation Component Styling

.navigation{
    width: 100%;
    padding: 1%;
    border: 1px solid black;
    @include flexBox($justify-content: space-between);
}

//Nav Logo Component Styling

.nav-logo{
    border: 1px solid blue; 
    width: 40%;
    font-family: $logo-text;
    font-size: $logo-font-size;
    color: $brandBlack;
    @include flexBox($align-items: center, $align-content: center);
    
}

#nav-logo-txt{
    text-decoration: none;
    color: $brandBlack;

    &:hover{
        color: $brandGold;

        #brand-gold-color{
            color: $brandBlack;
        }
    }

    #brand-gold-color{
        color: $brandGold;
    }
}

